*{margin: 0 ; padding: 0;}
ol, ul, li{list-style: none;}
a{color: #222; text-decoration: none;}
a:hover{color: red;}

/* common */
.container{width: 1200px ; margin: 0 auto;}
.d-flex{display: flex;}
.justify-content-between{justify-content: space-between;}
.align-items-center{align-items: center;}

.d-block{display: block;}
.d-none{display: none;}

.rel{position: relative;}
.abs{position: absolute;}

.text-start{text-align: left !important;}
.text-center{text-align: center;}
.text-end{text-align: right;}

/* 요소검사용 */
.gray{background-color: gray !important;}

.font26{font-size: 26px;}
.font18{font-size: 18px;}
.font14{font-size: 14px;}

.baseColor{color: #222;}
.exmColor{color: #8080ff;}
.baseColor2{color: #000 !important;}

/* 시험용 */
.h100{height: 100px;}
.h200{height: 200px;}
.h300{height: 300px;}

#hd{
    position: relative;
    z-index: 10;
}
#content{}
#ft{}
#hd h1{}
#hd h1>a{
    width: 120px;
    display: block;
}
/* 이미지는 부모너비에 맞춰서 처리 */
#hd h1>a>img{
    width: 100%;
}

#gnb{}
#gnb a{ white-space: nowrap;}
#gnb>li{}
#gnb>li>a{}
#gnb>li>ul{
    line-height: 2;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 0 20px;
    top: 100%;
    left: -15px;
    height: 0;
    overflow: hidden; 
    transition: 0.5s;
}
#gnb > li:hover ul{
    height: 170px;
    border-color: #222;
    z-index: 99;
}
#gnb>li>ul>li{}
#gnb>li>ul>li>a{}
